/* OurPeople.module.css */
.ourPeople {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0); /* Transparent background for smooth transition */
  transition: background 0.3s ease-in-out;
  z-index: -1; /* Place it behind other content */
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card:hover::before {
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent background on hover */
}

.image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-bottom: 1px solid #c0bfbf;
}

.details {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  text-decoration: none; /* Remove text-decoration */
}

.details p {
  color: #666;
  font-size: 1rem;
  text-decoration: none; /* Remove text-decoration */
}

.heading {
  font-family: "nyt-cheltenham", Arial, Georgia, serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #088F8F;
}
