/* OurStrategy.module.css */
.ourStrategyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.textContainer {
  flex: 1;
  max-width: 50%; /* Take half of the available width */
}

.heading {
  font-family: "nyt-cheltenham",  Georgia, serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
  color: #088F8F;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; /* Adjust the margin between paragraphs */
}

.imageContainer {
  flex-shrink: 0; /* Prevent the image from shrinking */
  max-width: 50%; /* Take half of the available width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourStrategyImage {
  width: 60%; /* Ensure the image fills the container */
  max-width: 60%; /* Ensure the image doesn't exceed its container */
  border-radius: 8px; /* Add rounded corners if needed */
  height: 60%;
}
