.user-container {
  color: #f6316b !important;
  max-width: 500px;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.user-details  span {
  color: #333 !important;
}
.user-container h2 {
  font-size: 18px;
  margin-bottom: 16px;
}

.user-container .user-details {
  margin-bottom: 16px;
}

.user-container .change-password {
  margin-top: 24px;
}

.user-container .password-form {
  display: flex;
  flex-direction: column;
}

.user-container .input-group {
  margin-bottom: 16px;
}

.user-container label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.user-container input {
  padding: 12px;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.user-container input:focus {
  outline: none;
  border-color: #f6316b;
}

.user-container button {
  padding: 12px 20px;
  background-color: #f6316b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-container button:hover {
  background-color: #f6316b;
}

.user-container .error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 8px;
}

/* Hover effect for input fields */
.user-container .input-group input:hover {
  border-color: #f6316b;
}

.change-password h2{
  text-align: center;
}

.user-container {
  text-align: center;
}