.business-orders-container {
    margin: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
  }
  
  .business-orders-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .business-orders-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .business-order-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .business-order-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #2c9caf !important;
  }
  
  .business-order-item p {
    margin: 0;
    color: #555;
  }
  
  .business-order-item button{
    padding: 0.1em 0.2em;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #2c9caf;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin: 0.7rem;
  }

  .business-order-item button:hover{
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }

  .business-order-item button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  .business-order-item button:hover::before{
    width: 250%;
  }

  .filter-buttons{
    text-align: right ;
  }