/* LocationApp.css */
.location-app {
    text-align: center;
    padding: 20px;
    /* background-color: #f0f0f0; */
    font-family: Arial, sans-serif;
    width: 100%;
  }
  
  .location-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .location-item {
    background-color: #fff;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  }
  
  .location-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
  }
  
  .selected-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .selected-item {
    background-color: #4caf50;
    color: #fff;
    border: 2px solid #388e3c;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  }
  
  .selected-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #388e3c;
  }
  
/* LocationApp.css */
/* ... (previous styles) ... */

.selected-item {
  position: relative;
}

.delete-icon {
  width: 0%;
  position: absolute;
  top: 0;
  right: 0;
    background-color: #388e3c;
    
  color: #fff;
  height: 100%;
  /* padding: 5px 10px; */
  border-radius: 3px;
  cursor: pointer;
  display: none;
  transition: all 2s linear;
}

.selected-item:hover .delete-icon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Display when hovering over .selected-item */
}

