@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Pacifico&family=Poppins:wght@300&display=swap');

.company {
    font-family: Pacifico, cursive;
    color:brown;
    position: absolute;
    top: 1%;
    left: 1%;
    text-align: left;
    font-size: 1.5rem;
}

.container-praghna{
    display:flex; 
    flex-direction:column;
    margin:auto;
    margin-top: 75px;
    width:450px;
    background: #fff;
    /* padding-bottom: 25px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 100px;
}
.header{
    display:flex; 
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:90%;
    margin-top: 20px ;
}
.text{
    color:brown;
    font-size: 33px;
    font-weight: 700;
}

.underline{
    width:60px;
    height:5px;
    background:brown;
    border-radius: 9px;
}
.inputs{
    margin-top:55px;
    display:flex;
    flex-direction: column;
    gap:25px;
}
.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:380px;
    height:60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin:0px 25px;
}

.input input{
    height:30px;
    width:280px;
    background: transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size: 12px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color:#797979;
    font-size: 12px;
}

.forgot-password span{
    color:brown;
    cursor:pointer;
}

.submit-containerc{
    display:flex;
    gap:10px;
    margin:50px auto;
    justify-content: 'center';
    align-items: 'center';
}

.submitc{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:45px;
    color:#fff;
    background: brown;
    border-radius:50px;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
}
.gray{
    background:#EAEAEA;
    color:#676767;
}
.error{
    color:brown;
    font-size: 10px;
    font-weight: 500;
}