/* cart.css */

.cartout h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.cartItems {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItems h1 {
  text-align: center; /* Center align the text */
}

.cartItem {
  width: 600px;
  height: 150px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.cartItem:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.cartItem img {
  width: 150px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.cartItem .description {
  flex: 1;
  font-size: 18px;
  margin: 0 20px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  border: 1px solid #6f6d6d;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.countHandler input:focus {
  outline: none;
  border-color: #1f1f1f;
}

.checkout {
  padding: 23px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically and horizontally */
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-right: 100px; /* Adjust the margin to move the checkout section further left */
}

.checkout:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.checkout .subtotal {
  font-size: 1.4em;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.checkout .button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.checkout button {
  margin: 12px 0px;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: 700;
  background-color: #f6316b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.checkout button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
}

.checkout button:hover:before {
  width: 200%;
  height: 200%;
  opacity: 1;
}

.checkout button:hover {
  color: #f6316b;
  background-color: white;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.butt2 {
  width: 100%;
}