:global(body) {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.appcontainer {
  display: flex;
}

.navbar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 93.2vh;
  background-image: radial-gradient(circle 580.6px at 10% 40%, rgb(100, 100, 100) 30%, rgb(0, 0, 0) 100%);
  height: 100vh;
}

.logoutButton {
  cursor: pointer;
  padding: 10px;
  margin-top: auto; /* This will push the logout button to the bottom */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #555;
}

.companyname {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
}

.userId{
  text-align: right;
}

.navsections {
  display: flex;
  flex-direction: column;
}

.navitem {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navitem:hover {
  background-color: #555;
}

.navitem.active {
  background-color: #555;
}

.maincontainer {
  flex: 1;
  padding: 20px;
}