/* #F6316B */

.company {
    font-family: Pacifico, cursive;
    color:#DE3163;
    position: absolute;
    top: 1%;
    left: 1%;
    text-align: left;
    font-size: 1.5rem;
}

.mainc{ 
    display: flex;
    flex-direction: row;
}

