@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Pacifico&family=Poppins:wght@300&display=swap');

.company {
    font-family: Pacifico, cursive;
    color:brown;
    position: absolute;
    top: 1%;
    left: 1%;
    text-align: left;
    font-size: 1.5rem;
}

.mainc{
    display: flex;
    flex-direction: row;
}

.input{
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: lightgrey;
    height: 35px;
    width: 60%;
    border-radius: 5px;
    /* font-size: 1rem; */
}

/* Override default styling for autofilled input fields */
input:-webkit-autofill, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #333; /* Change text color */
    -webkit-box-shadow: 0 0 0px 1000px lightgrey inset; /* Change background color */
}



 