/* styles.css */
.products{
  width: 95%;
  max-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding:2px;
}
.product {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.product:hover{
  transform: scale(1.03);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.product img {
  max-width: 100%;
  height: 28vh;
  border-radius: 4px;
}

.description {
  margin-top: 10px;
}

.description p {
  margin: 5px 0;
  font-size: 14px;
}

.description b {
  color: #333;
}

.btns{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
}

.addToCartBttn {
  background-color: transparent;
  border: 1px solid rgb(19, 19, 19);
  min-width: 64px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .products {
      grid-template-columns: 3fr;
  }
}