:root {
    --main-color:  #3498db2b; /* Define a CSS variable */
    --font-size: 16px;
  }
  

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.dispalyNone{
  display: none;
}

.app{
    height: 100vh;
   
}
.business-app{
    height: 100vh;
    padding: 25px 40px;
    display: grid;
    grid-template-columns:  0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr ;
    grid-template-rows: 40px auto;
    justify-content: center;
    gap: 40px;
    /* background-image: url("https://img.freepik.com/free-vector/happy-friends-home-party-isolated-flat-vector-illustration-cartoon-group-students-dancing-talking-having-fun-together-apartment_74855-8402.jpg?w=1060&t=st=1701541747~exp=1701542347~hmac=0b35760b14aec4eb3c98e7d6cc54f964ebb83dfd5008cf01f66beb791934b54c"); */
    
}


.business-sidebar{
    border-radius: 10px;
    width: 80%;
    
    
}
.business-sidebar ul{
    height: 100%;
    list-style: none;
    display: grid;
    
}



.business-sidebar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all linear 0.5s; */
    font-size: 1.2rem;
}

.business-sidebar li:hover{
    color: darkblue;
    /* font-size: 1.15rem; */
    cursor: pointer;
    /* background-color: #9d9e9e; */
  }

.business-maincontent{
    grid-column: 2 /   span 6;
}

.business-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.15rem;
    color: "#5C4033";
}
.business-header:hover{
    cursor: pointer;
    color: #7B3F00;
}

.business-header {
  position: relative;
}

.business-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initially, set width to 0 */
  height: 2px; /* Adjust the height of the line */
  background-color: #7B3F00; /* Adjust the color of the line */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.business-header:hover::after {
  width: 100%; /* Extend the line to 100% width on hover */
}

.fym-header{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.15rem;
  color: "#5C4033";
}
.fym-header:hover{
  cursor: pointer;
  color: #7B3F00;
}


.glass-container {
  overflow: auto;
  background: white; /* Adjust the alpha value for transparency */
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px); /* Adjust the blur value */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), -4px 0px 6px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.1);
  border:3px solid #088F8F; 
}



  .business-searchbar .search-bar-container {
    display: flex;
    width: 100%;
    /* border: 1px solid rebeccapurple; */
    justify-content: center;
    /* margin-bottom: 20px; */
  }
  
  .business-searchbar input {
    padding: 8px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .business-searchbar button {
    padding: 8px 12px;
    background-color: #5C4033 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .business-searchbar button:hover{
    /* background-color: white !important; */
    /* color:  #5C4033; */
  }
  
  .business-logout {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    font-size: 1.15rem;
    cursor: pointer;
    
    
  }
  
  /* Remove default focus outline on click */
  .business-logout:focus {
    outline: none;
  }
  
  /* Add hover effect */
  .business-logout:hover {
    text-decoration: none;
    color: #5C4033;
  }

  .product-details {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .details {
    flex: 1;
  }
  
  .price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .description {
    margin-top: 10px;
  }

  